/Project/RTT_Nano_STM32F103RCT6/EWARM/RTT_Nano_STM32F103RCT6/
/Project/RTT_Nano_STM32F103RCT6/EWARM/settings/
/Project/RTT_Nano_STM32F103RCT6/EWARM/RTT_Nano_STM32F103RCT6.dep
/Project/RTT_Nano_STM32F103RCT6/.vscode
/Project/RTT_Nano_STM32F103RCT6*.udb


#忽略目录__Previews/  下的全部内容；注意，不管是根目录下的__Previews/  目录，还是某个子目录__Previews/  目录，都会被忽略
__Previews/  
rt-thread-3.1.3/
#忽略根目录下的 /data0/ 目录的全部内容
/data0/
#：忽略以data1结尾的目录下的全部内容；注意，不管是根目录下的以data1结尾目录，还是某个子目录 以data1结尾的目录，都会被忽略
*data1/
#忽略data2文件
data2